
.menu-contact {
    border-top: 1px solid #8BCE2C;
    padding: 19px 0;
}

#sidebar-wrapper {
    display: none;
}

.info-block-wrap {
    color: #464646;
    margin-top: 30px;
    margin-bottom: 0;
}

article .item-meta-info {
    color: #464646;
}

.article-title {
    border-bottom: 1px solid #412272;
    padding-bottom: 10px;
}

.criteria {
    text-transform: lowercase;
    color: #464646;
}

.item-link {
    display: inline-block;
    vertical-align: middle;

    font-size: 16px;
    font-weight: bold;
}

.item-link a {
    color: #412272;
}

.item-link a:hover {
    text-decoration: underline;
}

.meta-separator {

    display: inline-block;
    vertical-align: middle;
}

.item-excerpt {
    margin-top: 10px;
}

.item-category {
    display: inline-block;
    vertical-align: middle;
}

.item-meta-info {
    display: inline-block;
    vertical-align: middle;
}

.rating-container {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 767px) {

    #sidebar-wrapper {
        display: block;
    }
}